# --- Node / pnpm ---
node_modules/
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Build / TS ---
dist/
*.tsbuildinfo
.ts-node/

# --- Env 
.env
.env.*
!.env.example

# --- Logs ---
logs/
*.log
*.log.*

# --- Docker (volúmenes/datos locales) ---
docker-data/
postgres-data/
redis-data/
pgadmin-data/
docker-volume-*/
docker-compose.override.yml
docker-compose.*.local.yml

# --- SO 
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
