PORT=4000
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000,http://localhost:4000

# DB (app corre en host; DB dentro de Docker mapeada al 5432 local)
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=rickmorty

# Redis (también mapeado al host)
REDIS_URL=redis://localhost:6379


# ... (PGADMIN)
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050

# TTL (segundos) para la caché
CACHE_TTL_SECONDS=60